html {
	padding-left: calc(100vw - 100%);
}

body {
	font-family: "Ubuntu", sans-serif;
}

.badge {
	font-weight: 500;
}

.bg-light,
.badge-light {
	&,
	* {
		color: $text-black !important;
	}
}

.bg-dark,
.badge-dark {
	&,
	* {
		color: $text-white !important;
	}
}

// Fixes custom primary color

a {
	color: $primary;
}

a:hover {
	color: darken($primary, 25%);
}

.text-primary {
	color: $primary !important;
}

.border-primary {
	border-color: $primary !important;
}

.btn-outline-primary {
	color: $primary !important;
	border-color: $primary !important;
}

.bg-primary {
	background-color: $primary !important;
}

// Other custom colors CSS

.border-blue {
	border-color: $blue !important;
}

.badge-blue {
	background-color: $blue;
	color: $light !important;
}

.text-blue {
	color: $blue !important;
}

.border-blue {
	border-color: $blue !important;
}

.btn-outline-blue {
	color: $blue !important;
	border-color: $blue !important;
}

.bg-blue {
	background-color: $blue !important;
}

.border-godot {
	border-color: $godot !important;
}

.badge-godot {
	background-color: $godot;
	color: $light !important;
}

.text-godot {
	color: $godot !important;
}

.border-godot {
	border-color: $godot !important;
}

.btn-outline-godot {
	color: $godot !important;
	border-color: $godot !important;
}

.bg-godot {
	background-color: $godot !important;
}

.border-python {
	border-color: $python !important;
}

.badge-python {
	background-color: $python;
	color: $light !important;
}

.text-python {
	color: $python !important;
}

.border-python {
	border-color: $python !important;
}

.btn-outline-python {
	color: $python !important;
	border-color: $python !important;
}

.bg-python {
	// background-color: $python !important;
	background-image: linear-gradient(to right, $python 50%, $python2 50%);
}

.border-csharp {
	border-color: $csharp !important;
}

.badge-csharp {
	background-color: $csharp;
	color: $light !important;
}

.text-csharp {
	color: $csharp !important;
}

.border-csharp {
	border-color: $csharp !important;
}

.btn-outline-csharp {
	color: $csharp !important;
	border-color: $csharp !important;
}

.bg-csharp {
	background-color: $csharp !important;
}

.border-orange {
	border-color: $orange !important;
}

.badge-orange {
	background-color: $orange;
	color: $light !important;
}

.text-orange {
	color: $orange !important;
}

.border-orange {
	border-color: $orange !important;
}

.btn-outline-orange {
	color: $orange !important;
	border-color: $orange !important;
}

.bg-orange {
	background-color: $orange !important;
}
