$primary: #d82148;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #201f23;

// Additional custom colors
$blue: #007bff;
$godot: #458dc0;
$python: #306998;
$python2: #ffd43b;
$csharp: #af47d2;
$orange: #e34c26;

$text-black: #343a40;
$text-white: #a6a3ae;

$rounded-borders: 15px;
